body {
  background-color: rgb(127, 189, 218);
  text-align: center;
}

.container {
  padding: 2rem;
}

.container h1 {
  margin: 1rem auto 3rem;
}

.container p, .container span {
  margin: 1rem auto;
}

.container p {
  width: 70%;
  margin-bottom: 2rem;
}

.container ol {
  width: 30%;
  margin: 2rem auto;
}

.container iframe {
  width: 50%;
  height: 415px;
  border: 10px solid brown;
  margin: 1rem auto;
  background-color: black;
}

@media (max-width: 800px) {
  .container iframe {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .container iframe {
    width: 85%;
  }
}

@media (max-width: 500px) {
  .container iframe {
    width: 90%;
  }
}


